# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [61]:
import numpy as np
import pandas as pd

In [76]:
future = pd.read_excel("data/futures.xlsx",header=0)
spot = pd.read_excel("data/spot_price.xlsx",header = 1 )

In [77]:
future["date"]= pd.to_datetime(future["date"])
future.ffill(inplace=True)
future = future[future['date'] >= "2025-01-01"]

future.head()

,date,TRFRBYc1,TRFRBMc1,TRFRBFVMG6,TRFRBFVMH6,TRFRBFVMJ6,TRFRBFVMK6,TRFRBFVMM6,TRFRBFVMN6,TRFRBFVMQ6,...,TRFRBFVMH7,TRFRBFVMJ7,TRFRBFVMK7,TRFRBFVMM7,TRFRBFVMN7,TRFRBFVMQ7,TRFRBFVMU7,TRFRBFVMV7,TRFRBFVMX7,TRFRBFVMZ7
0,2026-01-09,49.45,76.85,76.69,57.38,40.31,20.86,27.87,37.38,39.73,...,65.94,33.69,16.92,23.38,31.89,33.94,36.19,58.51,68.85,68.04
1,2026-01-08,48.50,74.65,74.65,56.40,39.33,19.65,27.18,36.04,38.70,...,65.12,33.69,16.81,22.19,31.37,33.26,35.46,58.20,68.49,67.68
2,2026-01-07,48.75,73.50,73.49,56.79,39.48,19.60,25.88,35.54,37.95,...,65.63,34.57,16.24,22.51,31.18,33.04,35.23,57.94,68.18,67.38
3,2026-01-06,48.70,72.70,72.51,56.16,39.12,18.27,25.35,34.55,36.85,...,65.10,34.90,16.09,22.49,31.33,33.14,35.34,58.11,68.38,67.59
4,2026-01-05,48.80,70.00,70.21,54.91,38.85,17.80,24.90,34.05,36.25,...,64.98,35.02,16.86,22.90,31.13,32.86,35.02,58.22,68.52,67.69

In [72]:
spot.head(10)

        Date       Price
0 2024-12-31   12.360000
1 2025-01-01   23.735000
2 2025-01-02  110.353750
3 2025-01-03  115.909583
4 2025-01-04  121.434583
5 2025-01-05   44.262917
6 2025-01-06   35.760417
7 2025-01-07   76.485417
8 2025-01-08  103.755833
9 2025-01-09   86.716667

In [65]:
spot['Date'] = pd.to_datetime(spot['MTU (UTC)'].str.split(' - ').str[0], dayfirst=True)

In [66]:
spot.head(10)

,MTU (UTC),Area,Sequence,Day-ahead Price (EUR/MWh),Intraday Period (UTC),Intraday Price (EUR/MWh),Date
0,31/12/2024 23:00:00 - 31/12/2024 23:15:00,BZN|FR,Without Sequence,12.36,NaN,NaN,2024-12-31 23:00:00
1,31/12/2024 23:15:00 - 31/12/2024 23:30:00,BZN|FR,Without Sequence,12.36,NaN,NaN,2024-12-31 23:15:00
2,31/12/2024 23:30:00 - 31/12/2024 23:45:00,BZN|FR,Without Sequence,12.36,NaN,NaN,2024-12-31 23:30:00
3,31/12/2024 23:45:00 - 01/01/2025 00:00:00,BZN|FR,Without Sequence,12.36,NaN,NaN,2024-12-31 23:45:00
4,01/01/2025 00:00:00 - 01/01/2025 00:15:00,BZN|FR,Without Sequence,18.92,NaN,NaN,2025-01-01 00:00:00
5,01/01/2025 00:15:00 - 01/01/2025 00:30:00,BZN|FR,Without Sequence,18.92,NaN,NaN,2025-01-01 00:15:00
6,01/01/2025 00:30:00 - 01/01/2025 00:45:00,BZN|FR,Without Sequence,18.92,NaN,NaN,2025-01-01 00:30:00
7,01/01/2025 00:45:00 - 01/01/2025 01:00:00,BZN|FR,Without Sequence,18.92,NaN,NaN,2025-01-01 00:45:00
8,01/01/2025 01:00:00 - 01/01/2025 01:15:00,BZN|FR,Without Sequence,16.66,NaN,NaN,2025-01-01 01:00:00
9,01/01/2025 01:15:00 - 01/01/2025 01:30:00,BZN|FR,Without Sequence,16.66,NaN,NaN,2025-01-01 01:15:00

In [67]:
spot = spot.set_index('Date')['Day-ahead Price (EUR/MWh)'].resample('D').mean().reset_index()
spot.columns = ['Date', 'Price']
spot.head()

        Date       Price
0 2024-12-31   12.360000
1 2025-01-01   23.735000
2 2025-01-02  110.353750
3 2025-01-03  115.909583
4 2025-01-04  121.434583